<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BoLTI || Open Account</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css.map">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    
</head>
<div class="form">
        
    <h1>Open a Savings Account</h1>
    <br>
    <h3>Personal Details</h3>
    <form  class="">
        <label for="uname">First Name</label>&nbsp; &nbsp;
        <input type="text"  name="First Name"  placeholder="First Name"><br><br>

        <label for="uname">Last Name</label>&nbsp &nbsp
        <input type="text"  name="Last Name"  placeholder="Last Name"><br><br>

        <label for="type">Father's Name</label>&nbsp &nbsp
        <input type="text"  name="Father's Name"  placeholder="Father's Name"><br><br>

        <label for="email">Email Id</label>&nbsp &nbsp
        <input type='text' placeholder="email" id='txtEmail'/>
       <br><br>

        <label for="aid">Aadhar Card</label>&nbsp &nbsp
        <input type="text" id="txtAadhar" onblur="AadharValidate();" placeholder="Aadhar Card" />
        <!-- <script type="text/javascript">
            function AadharValidate() {
                var aadhar = document.getElementById("txtAadhar").value;
                var adharcardTwelveDigit = /^\d{12}$/;
                var adharSixteenDigit = /^\d{16}$/;
                if (aadhar != '') {
                    if (aadhar.match(adharcardTwelveDigit)) {
                        return true;
                    }
                    else if (aadhar.match(adharSixteenDigit)) {
                        return true;
                    }
                    else {
                        alert("Enter valid Aadhar Number");
                        return false;
                    }
                }
            }
        </script> -->
        <br><br>

        <label for="dob">Date of Birth</label>&nbsp &nbsp
        <input type="text" id="DOB" name="Date of Birth"  placeholder="Date of Birth">
        <!-- <script type="text/javascript">
                    var res = document.getElementById("DOB").value;
     
                    if (res<18 || res > 100 )
                        alert("Enter Age >18");
     
       
        </script> -->
        <br><br>
        <br>

        <h3>Residential Address</h3>
        <label for="address">Address Line 1</label>&nbsp &nbsp
        <input type="text" id="ad" name="Address"  placeholder="Address"><br><br>

        <label for="address">Adress Line 2</label>&nbsp &nbsp
        <input type="text" id="add" name="Address"  placeholder="Address"><br><br>
        
        <label for="type">Landmark</label>&nbsp &nbsp
        <input type="text" id="lad" name="Landmark"  placeholder="Landmark"><br><br>

       
        <!-- <script type="text/javascript">
            var citiesByState = {
            Odisha: ["Bhubaneswar","Puri","Cuttack"],
            Maharashtra: ["Mumbai","Pune","Nagpur"],
            Kerala: ["kochi","Kanpur"]
            }
            function makeSubmenu(value) {
            if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
            else {
            var citiesOptions = "";
            for(cityId in citiesByState[value]) {
            citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
            }
            document.getElementById("citySelect").innerHTML = citiesOptions;
            }
            }
            function displaySelected() { var country = document.getElementById("countrySelect").value;
            var city = document.getElementById("citySelect").value;
            alert(country+"\n"+city);
            }
            function resetSelection() {
            document.getElementById("countrySelect").selectedIndex = 0;
            document.getElementById("citySelect").selectedIndex = 0;
            }
            </script> -->
            
            <!-- <body onload="resetSelection()"> -->
            <label for="type">Select State</label>&nbsp &nbsp
            <select id="countrySelect" size="1" onchange="makeSubmenu(this.value)" style="color: black; background-color: #93cb52;">
            <option value="" disabled selected>Choose State</option>
            <option>Odisha</option>
            <option>Maharashtra</option>
            <option>Kerala</option>
            </select><br><br>
            <label for="type" >Select City &nbsp;</label>&nbsp &nbsp
            <select id="citySelect" size="1" style="color: black; background-color: #93cb52;" >
            <option value="" disabled selected>Choose City</option>
            <option></option>
            </select><br><br><br>
            

         <label for="type">Pincode</label>&nbsp &nbsp
         <input type="number" id="pic" name="Pincode"  placeholder="Pincode"><br><br>
        
        
         <input type="checkbox" value="" name="filltoo" id="filltoo" onclick="filladd()" />
         <label>Permanent Address same as Residential address</label>  <br><br/>
         <!-- <script>
            function filladd()
              {
                 if(filltoo.checked == true) 
                    {
         var ad1 =document.getElementById("ad").value;
         var ad2 =document.getElementById("add").value;
         var pc =document.getElementById("pic").value;
         var ld =document.getElementById("lad").value;

       
         var copyad = ad1 ;
         var copyadd = ad2 ;
         var copypic = pc ;
         var copylad = ld;
        
         document.getElementById("ad1").value = copyad;
         document.getElementById("ad2").value = copyadd;
         document.getElementById("pc").value = copypic;
         document.getElementById("ld").value = copylad;
         }
         else if(filltoo.checked == false)
         { 
          document.getElementById("ad1").value='';
          document.getElementById("ad2").value='';
          document.getElementById("pc").value='';
          document.getElementById("ld").value='';
          }
      }
        </script> -->

        <h3>Permanent Address</h3>
        <label for="type">Address Line 1</label>&nbsp &nbsp
        <input type="text" id="ad1" name="Address"  placeholder="Address"><br><br>

        <label for="type">Address Line 2</label>&nbsp &nbsp
        <input type="text" id="ad2" name="Address"  placeholder="Address"><br><br>
        
        <label for="type">Landmark</label>&nbsp &nbsp
        <input type="text" id="ld" name="Landmark"  placeholder="Landmark"><br><br>

        <!-- <script type="text/javascript">
            var citiesByState = {
            Odisha: ["Bhubaneswar","Puri","Cuttack"],
            Maharashtra: ["Mumbai","Pune","Nagpur"],
            Kerala: ["kochi","Kanpur"]
            }
            function makeSubmenu(value) {
            if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
            else {
            var citiesOptions = "";
            for(cityId in citiesByState[value]) {
            citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
            }
            document.getElementById("citySelect").innerHTML = citiesOptions;
            }
            }
            function displaySelected() { var country = document.getElementById("countrySelect").value;
            var city = document.getElementById("citySelect").value;
            alert(country+"\n"+city);
            }
            function resetSelection() {
            document.getElementById("countrySelect").selectedIndex = 0;
            document.getElementById("citySelect").selectedIndex = 0;
            }
            </script> -->
            
            <!-- <body onload="resetSelection()"> -->
            <label for="type">Select State</label>&nbsp &nbsp
            <select id="countrySelect" size="1" onchange="makeSubmenu(this.value)" style="color: black; background-color: #93cb52;">
            <option value="" disabled selected>Choose State</option>
            <option>Odisha</option>
            <option>Maharashtra</option>
            <option>Kerala</option>
            </select><br><br>
            <label for="type">Select City &nbsp;</label>&nbsp &nbsp
            <select id="citySelect" size="1" style="color: black; background-color: #93cb52;" >
            <option value="" disabled selected>Choose City</option>
            <option></option>
            </select><br><br><br>

        <label for="type">Pincode</label>&nbsp &nbsp
        <input type="number" id="pc" name="Pincode"  placeholder="Pincode"><br><br>
        <br>

        <h3>Occupation Details</h3>
        <label for="type">Occupation Type</label>&nbsp &nbsp
        <select name="type" id="type" style="color: black; background-color: #93cb52;">
            <option value="Student">Student</option>
            <option value="Student">IT Professional</option>
            <option value="Student">Government Service</option>
            <option value="Student">Retired</option>
        </select>
        <br><br>

        <label for="type">Source of Income</label>
        <select name="type" id="type" style="color: black; background-color: #93cb52;">
            <option value="Student">Government</option>
            <option value="Student">Private</option>
        </select>
        <br><br>

        <label for="type">Annual Income</label>
        <select name="number" id="amount" style="color: black; background-color: #93cb52;">
            <option value="number"> Less than Rs.1,00,000 </option>
            <option value="number">Rs.1,00,000-Rs.5,00,000</option>
            <option value="number">Rs.6,00,000-Rs.10,00,000</option>
            <option value="number">Greater than Rs.Rs.10,00,000</option>
        </select><br><br>

        <h3>Debit/ATM Card</h3>
        <p>Do you want a Debit/ATM Card?</p>
          <input type="checkbox"/><label style="color: black;">Opt for Credit card</label><br>
        <input type="checkbox"/><label style="color: black;"> I agree</label><br><br>

        <button type="submit" id="#Button1">Submit</button> 

          
     </form>
</div> 
