<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <title>BoLTI || HOmepage</title>
</head>




<header id="showcase">
  <div class="showcase-content">
    <h1 class="l-heading">
      Thank You For choosing Net-Banking
    </h1>
    <p class="lead">
      Hey there! Welcome to BoLTI online banking.<br>Enjoy our services at the comfort of your home. <br>Cause your money needs a home too
    </p>
    <button type="button" value="Login" (click)="openaccount()" class="btn btn-dark">Open Savings</button>
  </div>
</header>

<!-- Section: Contact -->
<section id="contact">
  <div class="contact-form bg-primary p-2">
    <h2 class="m-heading" style="text-align: center;">Login</h2>
    <p style="text-align: center;">Login to your Dashboard</p>
    <form  >
      <div class="form-group" >
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter Name" required="required">
      </div>
      <div class="form-group">
        <label for="email">Username</label>
        <input type="email" name="email" id="email" placeholder="Enter Email" required="required"> 
      </div>
      <div class="form-group">
        <label for="message">Password</label>
        <input type="password" name="password" id="phone" placeholder="Enter Password" required="required">
      </div>
      <div class="form-group">
        <a href="" style="color: white;  text-decoration: underline;padding-left: 250px" >Forgot password?</a><br><br>
      </div>
      <button type="button" value="Login" (click)="dashboard()" class="btn btn-dark">Login</button>
    </form>
  </div>
  <div class="contact-img"></div>
</section>


<!-- Section: What We Do -->
<section id="what" class="bg-light py-1">
  <div class="container">
    <h2 class="m-heading text-center"><span class="text-primary">What</span> We Do</h2>
    <div class="items">
      <div class="item">
        <i class="fas fa-university fa-2x"></i>
        <div>
          <h3>Investment Banking</h3>
          <p>Not getting enough offers?DOnt worry We offer you amazing deals everytime you use BoLTI! </p>
        </div>
      </div>
      <div class="item">
          <i class="fas fa-book-reader fa-2x"></i>
          <div>
            <h3>Quick Transfers</h3>
            <p>Don't have a payee?Add payee and transfer money hassle-free!</p>
          </div>
      </div>
      <div class="item">
          <i class="fas fa-pencil-alt fa-2x"></i>
          <div>
            <h3>Helpful Staff</h3>
            <p>Have a doubt?Reach out to us anytime our staff will be happy to help.</p>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Who We Are -->
<section id="who">
  <div class="who-img"></div>
  <div class="who-text bg-dark p-2">
    <h2 class="m-heading"><span class="text-primary">Who</span> We Are</h2>
    <p>Thank you for choosing Net banking. You are contributing to safety of yourself and others by choosing us.</p>
    <h3>Our Team</h3>
    <ul class="list">
      <li>Zubair sheikh: Project Manager</li>
      <li>Mitshu Ghosh: Team leader</li>
      <li>Arnab Choudhuri: Developer</li>
      <li>Abhinav Anand: Developer</li>
      <li>Tushar kadam: Developer</li>
      
    </ul>
  </div>
</section>



<!-- Footer -->
<footer id="main-footer" class="bg-dark text-center py-1">
  <div class="container">
    <p>Copyright &copy; 2020, BoLTI, All Rights Reserved</p>
  </div>
</footer>