<h6>Transaction receipt starts here</h6>

<div class="card" style="margin:20px;">
  <div class="card-header bf" >
    Transaction Status and Receipt
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-outline-success">Available Balance : ₹ 12000</button>
</div>
  </div>
  <div class="table-responsive" style="width:80%;margin:auto;">
    <table class="table table-sm table-hover">
      <tbody>
        <tr>
          <th>Transaction Id</th>
          <td>BLTI12345589Q1</td>
      </tr>
        <tr>
            <th>To Account Number</th>
            <td>2034512312345</td>
        </tr>
        <tr>
          <th>To Account Holder</th>
            <td>Abhinav Anand</td>
        </tr> 
        <tr>
          <th>Account Type</th>
            <td>Savings</td>
        </tr>
        <tr>
          <th>Bank IFSC</th>
            <td>Savings</td>
        </tr>
        <tr>
          <th>Bank Name</th>
            <td>EMOP09876543</td>
        </tr>
        <tr>
          <th>Bank Branch</th>
            <td>902138475602</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>