<h6 style="padding-left:150px;" >Add Beneficiary starts here.</h6>

  <div class="card" style="width:80%;margin:auto;">
  <div class="card-header bf" >
    Enter the details of the Beneficiary
  </div>
  <div class="card-body">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="beneficiaryName">Beneficiary Name</label>
        <input type="text" name="beneficiaryName" class="form-control" id="inputEmail4" placeholder="Enter Beneficiary Name">
      </div>
      <div class="form-group col-md-6">
        <label for="nickName">Nick Name</label>
        <input type="email" name="nickName" class="form-control" id="inputEmail4" placeholder="Enter Nick Name">
      </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="bankName">Bank Name</label>
      <input type="email" name="bankName" class="form-control" id="inputEmail4" placeholder="Enter Bank Name">
    </div>
    <div class="form-group col-md-6">
      <label for="bankIFSC">Bank IFSC</label> 
      <input type="text" name="bankIFSC" class="form-control" id="inputPassword4" placeholder="Enter Bank IFSC">
    </div>
  </div> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="accountNumber">Account Number</label>
      <input type="password" name="accountNumber" class="form-control" id="inputEmail4" placeholder="Account Number">
    </div>
    <div class="form-group col-md-6">
      <label for="confirmAccountNumber">Confirm Account Number</label>
      <input type="password" name="confirmAccountNumber" class="form-control" id="inputPassword4" placeholder="Re-enter Account Number">
    </div>
  </div>
  
  <button type="submit" class="btn bf">Add Beneficiary</button>
</form>

</div>
</div>
