
<!DOCTYPE html>
<!-- Created By CodingPen -->
<html lang="en" dir="ltr">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
 
  <head>
    <meta charset="utf-8">
    <title>BoLTI | forgot Password</title>
  </head>
  <body>
    
    <div class="wrapper">
      <div class="title">
Forgot Password?</div>
<form action="#">
  <div class="field">
    <input type="text" required>
    <label>Enter User Id</label>
  </div>
        <div class="field">
          <input type="text" required>
          <label>Enter OTP</label>
        </div>
    
    <div class="field">
            <input type="submit" value="Proceed">
          </div>   

<div class="field">
          <input type="submit" value="Back">
        </div>

</form>
</div>
</body>
</html>
